<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>About me</h1>
                <p>Hi! My name is Sara Pereira and I’m full stack developer. I work with a lot of technologies like PHP, Javascript, React, Vue.JS, Laravel, Wordpress and others. I I think what is important is give the best solution for my client, with the best technology who I can use.</p>
                <p>I made this website with the SuperHero API to get all the data about the characters and I use Angular and Typescript from the frontend. The purpose here is made an application with Angular, who I’m studing in this moment.</p>
                <p>Thanks to the SuperHero API to collect all this data and give for all us, nerds!<br>Enjoy this website and share this work!</p>
                <br>
                <p>Live long and prosper!</p>
                <br><br>
                <a routerLink="/characters" class="btnComeback">See All Characters</a>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <img src="./assets/images/sara.jpg" alt="Sara" class="img-fluid">
            </div>
        </div>
    </div>
</section>