<header>
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-6">
                <a routerLink="/">
                    <p class="logo">NerdGuide</p>
                </a>
            </div>
            <div class="col-md-10 col-6">
                <button class="nav-button">
                    <span></span><span></span><span></span>
                </button>
                <ul class="nav">
                    <li><a routerLink="/characters">Characters</a></li>
                    <li><a routerLink="/about">About</a></li>
                    <li><a href="https://github.com/SaraOPereira/angular-nerdguide" target="_blank">GitHub</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<router-outlet></router-outlet>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>NerdGuide</h2>
            </div>
            <div class="col-md-6">
                <p>Developed by Sara Pereira<br>All rights reserved</p>
            </div>
            <div class="col-md-6">
                <p class="right">Information from <a href="https://www.superheroapi.com/" target="_blank">https://www.superheroapi.com/</a></p>
            </div>
        </div>
    </div>
</footer>